* {
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
}

.App {
    position: relative;
}

.TelaInicio,
.TelaCards {
    background-color: #FB6B6B;
    width: 100%;
    height: 100%;
}

.TelaInicio {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TelaInicio img {
    width: 136px;
    height: auto;
    margin-bottom: 13px;
}

.TelaInicio>p {
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    margin-bottom: 30px;
}

.TelaInicio button {
    background-color: white;
    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    opacity: 1;
    transition: all 0.5s;
}

.TelaInicio button:hover {
    opacity: 0.8;
    transition: all 0.5s;
}

.TelaInicio button p {
    font-family: 'Recursive', sans-serif;
    height: 100%;
    width: 100%;
    color: #D70900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TelaCards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TelaCards header {
    display: flex;
    width: 255px;
    justify-content: space-between;
    margin-top: 42px;
    margin-bottom: 59px;
}

.TelaCards header img {
    width: 52px;
    height: auto;
}

.TelaCards header p {
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
}

.Card {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Capa {
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px 0 20px;
    margin-bottom: 25px;
}

.capa-resposta-nao-lembrei {
    color: #FF3030;
    text-decoration-line: line-through;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.capa-resposta-quase {
    color: #FF922E;
    text-decoration-line: line-through;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.capa-resposta-zap {
    color: #2FBE34;
    text-decoration-line: line-through;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}


.Frente {
    height: 131px;
    width: 299px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 18px 15px 6px 15px;
    position: relative;
}

.Frente p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.Frente .setinha {
    position: absolute;
    bottom: 6px;
    right: 15px;
}

.Verso {
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 18px 15px 10px 15px;
    margin-bottom: 25px;
}

.Verso > p {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.Verso .botoes-resposta {
    height: 38px;
    display: flex;
    justify-content: space-between;
}

.Verso .botoes-resposta button {
    width: 86px;
    height: 38px;
    background: #FF3030;
    border-radius: 5px;
    margin-right: 8px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Verso .botoes-resposta button:last-of-type {
    margin-right: 0px;
}

.Verso .botoes-resposta button p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.Verso .botoes-resposta .resposta-nao-lembrei {
    background-color: #FF3030;
}

.Verso .botoes-resposta .resposta-quase {
    background-color: #FF922E;
}

.Verso .botoes-resposta .resposta-zap {
    background-color: #2FBE34;
}

